<footer>
    <h4>{{ site.organization.name }}</h4>
    <p>{{ site.organization.id }}</p>
    <p>{{ site.organization.adress.street }}<br>{{ site.organization.adress.zip }} {{ site.organization.adress.city }}</p>
    <a href="mailto:{{ site.organization.email.default }}">{{ site.organization.email.default }}</a>
    <a href="mailto:{{ site.organization.email.order }}">{{ site.organization.email.order }}</a>
    <a href="mailto:{{ site.organization.email.invoice }}">{{ site.organization.email.invoice }}</a>
</footer>