{% if page.url == '/' %}
<header class="splash">
    <nav>
        <ul>
            <li>
                <a href="/">
                    <img src="assets/images/northofwine.svg">
                </a>
            </li>
            {% for item in site.data.navigation %}
            <li>
                <a class="nav {% if item.url == page.url %}selected{% endif %}" href="{{ item.url }}">
                    {{ item.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <img class="splash" src="assets/images/illustration.svg">
</header>
{% else %}
<header id="menu" class="minimized">
    <ul class="horizontal">
        <a class="nav padded" href="/">
            <img src="assets/icons/inverted/northofwine.svg">
        </a>
        <a id="open" class="nav padded" onclick="expandMenu()">
            <img src="assets/icons/inverted/menu.svg">
        </a>
        <a id="close" class="nav padded" onclick="expandMenu()">
            <img src="assets/icons/inverted/close.svg">
        </a>
    </ul>
    <nav>
        <ul>
            {% for item in site.data.navigation %}
            <li>
                <a class="nav {% if item.url == page.url %}selected{% endif %}" href="{{ item.url }}">
                    {{ item.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>
{% endif %}