<li class="{{ product.product_type_name }}">
    <a class="card product" href="/utvalg/{{ product.slug }}">
        {% if product.image.url %}
            <img class="sticky" src="{{ product.image.url }}?w=480">
        {% else %}
            <img class="sticky" src="/assets/images/bottle.png">
        {% endif %}
        <div class="content">
            <div class="meta">
                <p class="small">{{ product.product_type_name }}</p>
                <p class="small">
                    {{ product.country }}
                    {% if product.region %}
                        | {{ product.region }}
                    {% endif %}
                </p>
            </div>
            <h2>{{ product.product_short_name }}</h2>
            {% assign price_split = product.sales_price | split: "." %}
            {% assign integral = price_split[0] %}
            {% assign fractional = price_split[1] | append: "00" | truncate: 2, "" %}
            <p>{{ integral }},{{ fractional }} kr</p>
        </div>
    </a>
</li>