$background-default: #fff;
$background-inverted: #000;
$background-inverted-hover: #222;

$text-default: #000;
$text-secondary: rgba(0,0,0,.5);
$text-hover: #333;
$text-inverted: #fff;

$border: rgba(0,0,0,.2);