---
---
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

@use "sizes";
@use "colors";

html{
    background: colors.$background-default;
    color: colors.$text-default;
    padding: sizes.$padding-medium;
}

body {
    margin: 0;
    padding: 0;
    background: colors.$background-inverted;
    
    color: colors.$text-inverted;
    font-family: $bodyFont;
}

header{
    padding: sizes.$padding-small;
}

nav{
    padding: sizes.$padding-small;

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

footer{
    background: colors.$background-default;
    color: colors.$text-default;
    padding: sizes.$padding-small;
}

h1, h2, h3, h4, h5, h6{
    margin: sizes.$padding-small;
}

p{
    margin: sizes.$padding-small;
}

a{
    margin: sizes.$padding-small;
}

.button{
    margin: 0;
    padding: sizes.$padding-small;
    display: inline-block;
    background-color: colors.$background-inverted;

    color: colors.$text-inverted;
    text-decoration: none;

    &.selected{
        background-color: colors.$background-default;
        color: colors.$text-default;
    }

    &:hover{
        background-color: colors.$background-inverted-hover;
        color: colors.$text-inverted;
    }
}