<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    {% include head.html %}
    <body>
        {% include header.html %}
        <section class="sidebar">
            {{ content }}
            <!-- <nav>
                <a href="/produsenter?=Frankrike">
                    Frankrike
                </a>
                <a href="">
                    Spania
                </a>
                <a>
                    Italia
                </a>
            </nav> -->
        </section>
        <ul class="list main">
        {% assign people = site.data.contentful.spaces.northofwine.person | sort_natural: 'name' %}
        {% for person in people %}
            <li>
                {% if person.image.url %}
                    <img class="imagecard" src="{{ person.image.url }}">
                {% endif %}
                <div class="card manufacturer">
                    <h2>{{ person.name }}</h2>
                    <a href="mailto:{{ person.email }}">{{ person.email }}</a>
                    <p>{{ person.description }}</p>
                </div>
            </li>
        {% endfor %}
        </ul>
        {% include footer.html %}
    </body>
</html>