<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    {% include head.html %}
    <body>
        {% include header.html %}
        <section id="sidebar">
            {{ content }}
        </section>
        <section id="main">
            <dl>
                <dt>E-post</dt>
                <dd>
                    <a href="mailto:{{ site.organization.email.default }}">
                        {{ site.organization.email.default }}
                    </a>
                </dd>
                <dd>
                    <a href="mailto:{{ site.organization.email.order }}">
                        {{ site.organization.email.order }}
                    </a>
                </dd>
                <dd>
                    <a href="mailto:{{ site.organization.email.invoice }}">
                        {{ site.organization.email.invoice }}
                    </a>
                </dd>
            </dl>

            <dl>
                <dt>Sosiale medier</dt>
                <dd>
                    <a href="facebook.com" target="_blank">
                        Facebook
                    </a>
                </dd>
                <dd>
                    <a href="instagram.com" target="_blank">
                        Instagram
                    </a>
                </dd>
            </dl>

            <dl>
                <dt>Organisasjonsinformasjon</dt>
                <dd>{{ site.organization.name }}</dd>
                <dd>{{ site.organization.id }}</dd>
                <dt>Adresse</dt>
                <dd>{{ site.organization.adress.street }}<br>{{ site.organization.adress.zip }} {{ site.organization.adress.city }}</dd>
            </dl>
        </section>
        {% include footer.html %}
    </body>
</html>