<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>{{ page.title }} - {{ site.title }}</title>
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    </head>
    <body>
        {% include header.html %}
        {% include navigation.html %}
        <article>
            <section>
                <img src="{{ page.image.url }}?w=100">
                <h3>{{ page.product_type_name }}</h3>
                <p>{{ page.country }} | {{ page.region }}</p>
                <h2>{{ page.product_short_name }}</h2>
                <p>{{ page.volume | times: 1.0 | divided_by: 100 }} l | {{ page.packaging_material }} med {{ page.cork_type | downcase }}</p>

                {% assign price_split = page.sales_price | split: "." %}
                {% assign integral = price_split[0] %}
                {% assign fractional = price_split[1] | append: "00" | truncate: 2, "" %}

                <p>{{ integral }},{{ fractional }} kr
                {% if page.product_id %}
                    | <a href="https://vinmonopolet.no/p/{{ page.product_id }}">Vinmonopolet</a>
                {% endif %}
                </p>
            </section>
            <section>
                <dl>
                    <dt>Beskrivelse</dt>
                    <dd>{{ page.description }}</dd>
                    <dt>Metode</dt>
                    <dd>{{ page.production_method_storage}} </dd>
                </dl>
            </section>
            <section>
                <dl>
                    <dt>Fylde</dt>
                    <dd>{{ page.fullness }}</dd>
                    <dt>Friskhet</dt>
                    <dd>{{ page.freshness }}</dd>
                    {% if page.product_type_name == 'Rødvin' %}
                    <dt>Garvestoffer</dt>
                    <dd>{{ page.tannins }}</dd>
                    {% else %} <!-- white, rose, and sparkling -->
                    <dt>Sødme</dt>
                    <dd>{{ page.sweetness }}</dd>
                    {% endif %}
                </dl>
                <dl>
                    <dt>Passer til</dt>
                    <dd>{{ page.recommended_food | join: ', ' | capitalize }}</dd>
                    <dt>Lukt</dt>
                    <dd>{{ page.odour }}</dd>
                    <dt>Smak</dt>
                    <dd>{{ page.taste }}</dd>
                    <dt>Farge</dt>
                    <dd>{{ page.colour }}</dd>
                </dl>
                <dl>
                    <dt>Vårt varenummer</dt>
                    <dd>{{ page.sku }}</dd>
                    <dt>Vinmonopolets varenummer</dt>
                    <dd>{{ page.product_id }}</dd>
                    <dt>Druer</dt>
                    <dd>
                    {% for grape in page.grape_desc %}
                        {{ grape }} {{ page.grape_pct[forloop.index0] }}
                        {% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                    </dd>
                    <dt>Lagring</dt>
                    <dd>{{ page.storage_potential }}</dd>
                    <dt>Alkohol</dt>
                    <dd>{{ page.alcohol_content }}</dd>
                    <dt>Sukker</dt>
                    <dd>{{ page.sugar }}</dd>
                    <dt>Syre</dt>
                    <dd>{{ page.acid }}</dd>
                    <dt>Emballasje</dt>
                    <dd>{{ page.packaging_material }}</dd>
                    <dt>Kork</dt>
                    <dd>{{ page.cork_type }}</dd>
                </dl>
            </section>
        </article>
        {% include footer.html %}
    </body>
</html>
