<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    {% include head.html %}
    <body>
        {% include header.html %}
        <section class="sidebar details">
            <nav>
                <a href="/utvalg">
                    <img class="icon" src="../assets/icons/arrow-left.svg">
                </a>
                <a href="/utvalg.html?kategori={{ page.product_type_name }}">
                    {{ page.product_type_name }}
                </a>
                <a>
                    {{ page.country }}
                </a>
                <a>
                    {{ page.region }}
                </a>
            </nav>
            <div class="product-image">
                {% if page.image.url %}
                    <img src="{{ page.image.url }}?w=480">
                {% else %}
                    <img src="/assets/images/bottle.png">
                {% endif %}
            </div>

        </section>
        <div class="main">
            <section>
                {% include details/introduction.html %}
            </section>
            <section>
                {% include details/description.html %}
            </section>
            <section>
                {% include details/properties.html %}
            </section>
        </div>
        {% include footer.html %}
    </body>
</html>
