{% include header.html %}
{% include navigation.html %}

{% assign sorted = site.data.contentful.spaces.northofwine.product | sort_natural: 'product_short_name' %}
{% for product in sorted %}
<article>
    <a href="/utvalg/{{ product.product_short_name | slugify: 'latin' }}">
        <section>
            <img src="{{ product.image.url }}?w=100">
            <p>{{ product.product_type_name }}</p>
            <h2>{{ product.product_short_name }}</h2>
            <p>{{ product.country }} | {{ product.region }}</p>

            {% assign price_split = product.sales_price | split: "." %}
            {% assign integral = price_split[0] %}
            {% assign fractional = price_split[1] | append: "00" | truncate: 2, "" %}

            <p>{{ integral }},{{ fractional }} kr
            {% if product.product_id %}
                | <a href="https://vinmonopolet.no/p/{{ product.product_id }}">Vinmonopolet</a>
            {% endif %}
            </p>
        </section>
    </a>
</article>
{% endfor %}

{% include footer.html %}