<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    {% include head.html %}
    <body>
        {% include header.html %}
        <section class="sidebar">
            {{ content }}
            <nav id="filter">
            </nav>
        </section>
        <ul id="products" class="list main">
        {% assign data = site.data.contentful.spaces.northofwine.product %}
        {{ data | size }}

        {% assign sorted = data | sort_natural: 'product_short_name' %}
        {% for product in sorted %}
            <li class="{{ product.product_type_name }}">
                <a class="card" href="/utvalg/{{ product.slug }}">
                    <img src="{{ product.image.url }}?w=480">
                    <div class="content">
                        <div class="meta">
                            <p class="small">{{ product.product_type_name }}</p>
                            <p class="small">{{ product.country }} | {{ product.region }}</p>
                        </div>
                        <h2>{{ product.product_short_name }}</h2>
                        {% assign price_split = product.sales_price | split: "." %}
                        {% assign integral = price_split[0] %}
                        {% assign fractional = price_split[1] | append: "00" | truncate: 2, "" %}
                        <p>{{ integral }},{{ fractional }} kr</p>
                    </div>
                </a>
            </li>
        {% endfor %}
        </ul>
        {% include footer.html %}
    </body>
    <script>
        listItems(getQuery());
        filterProducts();
        hideProducts(getQuery())
    </script>
</html>