<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    {% include head.html %}
    <body>
        {% include header.html %}
        <section class="sidebar">
            {{ content }}
            <!-- <nav>
                <a href="/produsenter?=Frankrike">
                    Frankrike
                </a>
                <a href="">
                    Spania
                </a>
                <a>
                    Italia
                </a>
            </nav> -->
        </section>
        <ul class="list main">
        {% assign products = site.data.contentful.spaces.northofwine.product | sort_natural: 'product_short_name' %}
        {% assign manufacturers = site.data.contentful.spaces.northofwine.manufacturer | sort_natural: 'name' %}
        <!-- {% assign sorted_products = site.data.contentful.spaces.northofwine.manufacturer | sort_natural: 'name' %} -->
        {% for manufacturer in manufacturers %}
            <li id="{{ manufacturer.name | slugify: 'latin' }}">
                <img class="imagecard" src="{{ manufacturer.image.url }}?w=1200">
                <div class="card manufacturer">
                    {% if manufacturer.logo.url %}
                        <img src="{{ manufacturer.logo.url }}?w=480">
                    {% endif %}
                    <h2>{{ manufacturer.name }}</h2>
                    <a href="{{ manufacturer.link }}">{{ manufacturer.link }}</a>
                    <p>{{ manufacturer.description }}</p>
                    <ul>
                        <h3>Utvalg</h3>
                        {% for product in products %}
                            {% if product.manufacturer.sys.id == manufacturer.sys.id %}
                            <li>
                                <a href="/utvalg/{{ product.slug }}">{{ product.product_short_name }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
        </ul>
        {% include footer.html %}
    </body>
</html>